<div class="header">
  <div class="title">
    <button (click)="changeTheme()" class="button-light">
      <svg *ngIf="!isLight; else dark">
        <use xlink:href="assets/icon/sun.svg#icon-sun"></use>
      </svg>
      <ng-template #dark>
        <svg>
          <use xlink:href="assets/icon/moon.svg#icon-moon"></use>
        </svg>
      </ng-template>
    </button>

    <div
      class="logo"
      style="background-image: url('assets/alois.heloir.png')"
    ></div>
    <div class="main-title">ALOIS HELOIR</div>
    <div class="sub-title">fullstack developer</div>
  </div>

  <div class="navigation">
    <div class="spacer"></div>
    <div class="element">
      <a href="" class="about-me">
        <div class="left">
          <span class="icon">
            <svg>
              <use xlink:href="assets/icon/home.svg#icon-home"></use>
            </svg>
          </span>
          About me
        </div>
        <div class="right">
          <svg>
            <use xlink:href="assets/icon/arrow.svg#icon-arrow"></use>
          </svg>
        </div>
      </a>
    </div>
    <div class="spacer"></div>
    <div class="element">
      <a href="projects" class="projects">
        <div class="left">
          <span class="icon">
            <svg>
              <use xlink:href="assets/icon/pencil.svg#icon-pencil"></use>
            </svg>
          </span>
          Projects
        </div>
        <div class="right">
          <svg>
            <use xlink:href="assets/icon/arrow.svg#icon-arrow"></use>
          </svg>
        </div>
      </a>
    </div>
    <div class="spacer"></div>
    <div class="element">
      <a href="contact" class="contact">
        <div class="left">
          <span class="icon">
            <svg>
              <use xlink:href="assets/icon/message.svg#icon-message"></use>
            </svg>
          </span>
          Contact
        </div>
        <div class="right">
          <svg>
            <use xlink:href="assets/icon/arrow.svg#icon-arrow"></use>
          </svg>
        </div>
      </a>
    </div>
    <div class="spacer"></div>
  </div>

  <div class="button-resume">
    <a href="assets/alois.cv.pdf" target="_blank">
      <span class="icon">
        <svg>
          <use xlink:href="assets/icon/download.svg#icon-download"></use>
        </svg>
      </span>
      <span class="text"> Resume </span>
    </a>
  </div>

  <div class="footer">
    Alois Heloir | Developer | heloir.alois@live.fr | 2021 |
    <span class="icon">
      <a href="https://www.linkedin.com/in/alois-heloir/" target="_blank">
        <svg>
          <use xlink:href="assets/icon/linkedin.svg#icon-linkedin"></use>
        </svg>
      </a>
    </span>
    <span class="icon">
      <a href="https://github.com/AloisH" target="_blank">
        <svg>
          <use xlink:href="assets/icon/github.svg#icon-github"></use>
        </svg>
      </a>
    </span>
  </div>
</div>
