.header {
  box-sizing: border-box;

  width: 20.25rem;
  min-height: 100vh;

  padding-top: 3.375rem;

  background-color: var(--background-color);

  display: grid;
  grid-template-columns: repeat(1, 1fr);

  .title {
    .button-light {
      position: absolute;
      top: 1rem;
      left: 1rem;

      border: none;
      background: none;

      cursor: pointer;

      svg {
        width: 2rem;
        height: 2rem;
      }
    }

    .logo {
      width: 12rem;
      height: 12rem;

      border-radius: 6rem;

      background-repeat: no-repeat;
      background-size: cover;

      margin-left: 4.125rem;
      margin-bottom: 1.25rem;
    }

    .main-title {
      font-style: normal;
      font-weight: 900;
      font-size: 2.25rem;
      line-height: 2.625rem;
      text-align: center;

      color: var(--text-color);
    }

    .sub-title {
      font-family: Dancing Script;
      font-style: normal;
      font-weight: bold;
      font-size: 1.125rem;
      line-height: 1.375rem;
      text-align: center;
    }
  }

  .navigation {
    .element {
      a {
        box-sizing: border-box;

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0rem 1rem;

        width: 100%;
        height: 100%;

        font-style: normal;
        font-weight: bold;
        font-size: var(--text-size-large);
        line-height: 1.75rem;

        .right {
          svg {
            width: 4rem;
            height: 4rem;
          }
        }
      }
    }
  }

  .button-resume {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      padding: 0.5rem 1rem;
      background-color: #5c9dff;

      border-radius: 2px;

      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: var(--text-size-large);
      line-height: 1.75rem;

      display: flex;
      align-items: center;
      justify-content: center;

      .left {
        width: 1em;
        height: 1em;

        svg {
          width: 1em;
          height: 1em;
        }
      }
    }
  }

  .footer {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 0.75rem;
    color: var(--text-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    margin-bottom: 0.5rem;
  }
}
