<div class="header-mobile" [ngClass]="{ 'dont-display': menuIsOpen }">
  <div class="title">
    <h1>
      Alois <br />
      Heloir
    </h1>
  </div>
  <div class="menu" (click)="openMenu()">
    <svg>
      <use xlink:href="assets/icon/menu.svg#icon-menu"></use>
    </svg>
  </div>
</div>

<div
  class="header-div"
  [ngClass]="{ 'dont-display': !menuIsOpen, display: menuIsOpen }"
>
  <div class="header">
    <div class="top-button">
      <div class="left">
        <button
          (click)="changeTheme()"
          class="btn-icon"
          aria-label="Light and Dark Theme"
        >
          <svg *ngIf="!isLight; else dark">
            <use xlink:href="assets/icon/sun.svg#icon-sun"></use>
          </svg>
          <ng-template #dark>
            <svg>
              <use xlink:href="assets/icon/moon.svg#icon-moon"></use>
            </svg>
          </ng-template>
        </button>
      </div>
      <div class="right">
        <button
          (click)="closeMenu()"
          class="btn-icon mobile-only"
          aria-label="Close menu"
          [ngClass]="{ 'dont-display': !menuIsOpen, display: menuIsOpen }"
        >
          <svg>
            <use xlink:href="assets/icon/cross.svg#icon-cross"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="title">
      <div
        class="logo"
        style="background-image: url('assets/logo_minimalist.png')"
      ></div>
      <div class="main-title">ALOIS HELOIR</div>
      <div class="sub-title">fullstack developer</div>
    </div>

    <div class="navigation">
      <div class="spacer"></div>
      <div class="element">
        <a routerLink="" class="about-me" (click)="closeMenu()">
          <div class="left">
            <span class="icon">
              <svg>
                <use xlink:href="assets/icon/home.svg#icon-home"></use>
              </svg>
            </span>
            About me
          </div>
          <div class="right">
            <svg>
              <use
                xlink:href="assets/icon/arrow.svg#icon-arrow"
                (click)="closeMenu()"
              ></use>
            </svg>
          </div>
        </a>
      </div>
      <div class="spacer"></div>
      <div class="element">
        <a routerLink="/projects" class="projects" (click)="closeMenu()">
          <div class="left">
            <span class="icon">
              <svg>
                <use xlink:href="assets/icon/pencil.svg#icon-pencil"></use>
              </svg>
            </span>
            Projects
          </div>
          <div class="right">
            <svg>
              <use xlink:href="assets/icon/arrow.svg#icon-arrow"></use>
            </svg>
          </div>
        </a>
      </div>
      <div class="spacer"></div>
      <div class="element">
        <a routerLink="contact" class="contact" (click)="closeMenu()">
          <div class="left">
            <span class="icon">
              <svg>
                <use xlink:href="assets/icon/message.svg#icon-message"></use>
              </svg>
            </span>
            Contact
          </div>
          <div class="right">
            <svg>
              <use xlink:href="assets/icon/arrow.svg#icon-arrow"></use>
            </svg>
          </div>
        </a>
      </div>
      <div class="spacer"></div>
    </div>

    <div class="btn-pos">
      <a class="btn btn-blue" href="assets/alois.cv.pdf" target="_blank">
        <svg>
          <use xlink:href="assets/icon/download.svg#icon-download"></use>
        </svg>
        Resume
      </a>
    </div>

    <div class="footer">
      <div class="item">
        Alois Heloir | Developer | heloir.alois@live.fr | 2021 |
        <span class="icon">
          <a
            href="https://www.linkedin.com/in/alois-heloir/"
            target="_blank"
            aria-label="Linkedin Alois Heloir"
            rel="noopener"
          >
            <svg>
              <use xlink:href="assets/icon/linkedin.svg#icon-linkedin"></use>
            </svg>
          </a>
        </span>
        |
        <span class="icon">
          <a
            href="https://github.com/AloisH"
            target="_blank"
            aria-label="Github aloisH"
            rel="noopener"
          >
            <svg>
              <use xlink:href="assets/icon/github.svg#icon-github"></use>
            </svg>
          </a>
        </span>
      </div>
    </div>
  </div>
</div>
