<div class="contact">
  <h1>
    LET'S WORK <br />
    TOGETHER
  </h1>
  <div class="small-spacer"></div>

  <form action="https://formspree.io/f/mdoylzpp" method="POST">
    <div class="form">
      <div class="item">
        <h3>Email Address *</h3>
        <input type="text" name="_replyto" />
      </div>
      <div class="item">
        <h3>Subject *</h3>
        <input type="text" name="_subject" />
      </div>
      <div class="item">
        <h3>Message *</h3>
        <textarea name="message" cols="30" rows="10"></textarea>
      </div>
      <div class="item last">
        <div class="left">
          <button class="submit-button" type="submit">
            <div class="right">
              <svg>
                <use xlink:href="assets/icon/export.svg#icon-export"></use>
              </svg>
            </div>
            <div class="left">Submit</div>
          </button>
        </div>
        <div class="right">
          <a href="mailto: heloir.alois@live.fr">
            <div class="left">HELOIR.ALOIS@LIVE.FR</div>
            <div class="right">
              <svg>
                <use
                  xlink:href="assets/icon/pointy-arrow.svg#icon-pointy-arrow"
                ></use>
              </svg>
            </div>
          </a>
        </div>
      </div>
    </div>
  </form>
</div>
