@keyframes marque {
  0% {
    margin-left: 0%;
  }
  50% {
    margin-left: -30%;
  }
  100% {
    margin-left: 0%;
  }
}

@keyframes marque2 {
  0% {
    margin-left: -30%;
  }
  50% {
    margin-left: 0%;
  }
  100% {
    margin-left: -30%;
  }
}

.me {
  margin-top: 3rem;

  display: flex;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;

    font-weight: normal;
    font-size: var(--text-size-default);
    line-height: var(--text-line-height-default);
  }

  .right {
    margin-right: 100px;

    img {
      position: relative;
      object-fit: cover;

      width: 200px;
      height: 200px;
      z-index: 1;
    }

    .outline-rect {
      z-index: 0;
      position: relative;
      width: 200px;
      height: 200px;

      top: -100px;
      left: 100px;

      border: 1px solid var(--outline);
    }
  }
}

.skill {
  display: flex;
  flex-direction: column;

  .item {
    padding: 0.5rem 0;

    max-width: calc(100vw - 20.5rem);

    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;

    font-weight: bold;
    font-size: var(--text-size-title);
    line-height: var(--text-line-height-title);

    span {
      &.first {
        animation: marque 25s linear infinite;
      }
      &.second {
        animation: marque2 25s linear infinite;
      }

      &.thrid {
        animation: marque 30s linear infinite;
      }
    }
  }
}

@media (max-width: 1150px) {
  .me {
    flex-direction: column;
  }
}
