<div class="page">
  <div class="page-margin">
    <h1>About me</h1>
    <div class="small-spacer"></div>
    <div class="me">
      <div class="left">
        <div class="item">
          Hey ! <br />
          I am Alois Heloir <br />
          I design and develop software.
        </div>

        <div class="buttons">
          <a routerLink="/projects">
            <div class="btn btn-reverse">
              <svg>
                <use xlink:href="assets/icon/pencil.svg#icon-pencil"></use>
              </svg>
              Projects
            </div>
          </a>
          <a routerLink="/contact">
            <div class="btn btn-reverse">
              <svg>
                <use xlink:href="assets/icon/message.svg#icon-message"></use>
              </svg>
              Contact
            </div>
          </a>
        </div>
      </div>
      <div class="right">
        <div class="container">
          <img src="assets/alois.heloir.2.png" alt="" />
          <div class="outline-rect"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- 
<div class="skill">
    <div class="spacer"></div>
    <div class="item">
      <span class="first">
        HTML - CSS - JAVASCRIPT - TYPESCRIPT - PHP - ANGULAR
      </span>
    </div>
    <div class="spacer"></div>
    <div class="item">
      <span class="second">
        C - C++ - C# - PYTHON - MySQL - JAVA - POSTGRESQL</span
      >
    </div>
    <div class="spacer"></div>
    <div class="item">
      <span class="thrid">
        FIGMA - GIT - LINUX - LATEX - PAIR PROGRAMMING - TDD</span
      >
    </div>
    <div class="spacer"></div>
  </div>
--></div>
