<div class="page projects">
  <div class="with-margin">
    <h1>MY PROJECTS</h1>
    <div class="small-spacer"></div>
  </div>

  <div class="navigation">
    <div class="spacer"></div>
    <a routerLink="/projects/42sh">
      <div class="item">
        <div class="left">42SH</div>
      </div>
    </a>
    <div class="spacer"></div>
    <a routerLink="/projects/pointless-adventure">
      <div class="item">
        <div class="left">Pointless Adventure</div>
      </div>
    </a>
    <div class="spacer"></div>
    <a routerLink="/projects/zombscastle">
      <div class="item">
        <div class="left">ZombsCastle</div>
      </div>
    </a>
    <div class="spacer"></div>
    <a routerLink="/projects/spider">
      <div class="item">
        <div class="left">Spider</div>
      </div>
    </a>
    <div class="spacer"></div>
    <a routerLink="/projects/rcp">
      <div class="item">
        <div class="left">Imalys RCP</div>
      </div>
    </a>
    <div class="spacer"></div>
    <a routerLink="/projects/portfolio">
      <div class="item">
        <div class="left">Portfolio</div>
      </div>
    </a>
    <div class="spacer"></div>
    <a routerLink="/projects/jws">
      <div class="item">
        <div class="left">Java Web Service</div>
      </div>
    </a>
    <div class="spacer"></div>
  </div>
</div>
