.navigation {
  margin: 9.5rem 0rem 1rem 0rem;

  .item {
    padding: 1rem 1rem;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      z-index: 1;

      display: flex;
      align-items: center;

      font-weight: bold;
      font-size: var(--text-size-large);
      line-height: var(--text-line-height-large);
    }
  }
}
