/**
 * @file _button.scss
 * @brief Styling of buttons
 * @author Alois Heloir
 */

.btn {
  padding: 0.3rem 0.6rem;

  border-radius: 3px;
  border: none;

  font-weight: bold;
  font-size: var(--text-size-default);
  line-height: var(--text-line-height-default);

  // Handle icon
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;

  svg,
  use {
    width: 1em;
    height: 1em;
  }
}

.btn-icon {
  border: none;
  background: none;

  cursor: pointer;

  svg {
    display: block;
    width: 2rem;
    height: 2rem;
  }
}

.btn-reverse {
  background-color: var(--text-color);
  color: var(--background-color);

  svg {
    use {
      color: var(--background-color);
    }
  }
}

.btn-blue {
  background-color: #5c9dff;
}
