/**
 * @file _icon.scss
 * @brief Content icon css
 * @author Alois Heloir
 */

.icon-big {
  width: 1.5em;
  height: 1.5em;
}

.icon {
  vertical-align: middle;
  display: inline-block;

  svg {
    width: 1.2em;
    height: 1.2em;
  }

  img {
    width: 1em;
    height: 1em;
  }
}
