/**
 * @file _variables.scss
 * @brief Content all the css variable of the project
 * @author Alois Heloir
 */

:root {
  --background-color: #f9f9f9;
  --main-background-color: #f6f6f6;
  --text-color: #000000;
  --outline: #cfcfcf;

  --text-size-small: 0.75rem;
  --text-line-height-small: 0.75rem;

  --text-size-default: 1.5rem;
  --text-line-height-default: 1.75rem;

  --text-size-large: 2.5rem;
  --text-line-height-large: 3rem;

  --text-size-title: 4.5rem;
  --text-line-height-title: 5.25rem;

  --button-blue: #337ce9;
}

// Mobile version
@media (max-width: 800px) {
  :root {
    --text-size-default: 1rem;
    --text-line-height-default: 1.5rem;

    --text-size-large: 2rem;

    --text-size-title: 2.5rem;
    --text-line-height-title: 2.75rem;
  }
}
