.arrow {
  svg {
    width: 4rem;
    height: 4rem;
  }
}

.labels {
  margin: 3rem 3rem 7rem 0rem;

  display: flex;
}

.data {
  max-width: 80%;

  .description {
    font-weight: bold;
    font-size: var(--text-size-large);
    line-height: var(--text-line-height-large);
  }

  .bottom {
    margin-top: 3rem;

    text-align: right;

    .date,
    .source {
      font-style: italic;
      font-weight: 500;
      font-size: var(--text-size-default);
      line-height: var(--text-line-height-default);
    }
  }
}

.buttons {
  width: 100%;
  margin-top: 2rem;
  display: flex;

  a {
    display: inline-block;
  }
}
