<div class="page project">
  <div class="relative">
    <div class="arrow">
      <a routerLink="/projects">
        <svg>
          <use xlink:href="assets/icon/arrow-left.svg#icon-arrow-left"></use>
        </svg>
      </a>
    </div>
  </div>

  <div class="with-margin">
    <h1>{{ data.title }}</h1>
    <div class="small-spacer"></div>

    <div class="labels">
      <div class="label" *ngFor="let item of data.labels">{{ item.name }}</div>
    </div>

    <div class="data">
      <div class="description">
        {{ data.description }}
      </div>

      <div class="buttons">
        <a
          href="{{ item.url }}"
          target="_blank"
          *ngFor="let item of data.buttons"
        >
          <div class="item">
            <div class="right">
              <svg>
                <use
                  attr.xlink:href="assets/icon/{{ item.icon }}.svg#icon-{{
                    item.icon
                  }}"
                ></use>
              </svg>
            </div>
            <div class="left">
              {{ item.name }}
            </div>
          </div>
        </a>
      </div>

      <div class="bottom">
        <div class="date">
          {{ data.date }}
        </div>

        <div class="source" *ngIf="!data.source">Source code not available</div>
      </div>
    </div>
  </div>
</div>
